<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Reviews
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Reviews</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container" *ngFor="let r of review">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ r.id }}</ion-card-title>
        <ion-card-subtitle>{{ r.description }}</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <p><strong>Puntuacion :</strong>{{ r.puntuation }}</p>
        <p><strong>Cliente :</strong>{{ r.email }}</p>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
